*.suo
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww]in32/
.vs/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
packages
*.exe
*.RAW
